@import './root.css';

body {
  margin: 0;
  background: var(--color-main);
  color: var(--color-color-base);
  font-family: var(--font-body);
}

#root {
  max-width: 100%;
  margin: 0 auto;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}